@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
  font-weight: bold;
  height: 40px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.container {
  display: flex;
  flex-direction: column;

  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;

  flex: 0 0 50px;
}

div ul {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  color: #000;
}